  <h1><mark>商品新規登録</mark></h1>

    <div class="container">
    <%= form_with model: @item do |f| %>
      <h4>商品画像</h4>
      <%= f.file_field :image, accept: "image/*" %>
      <h4>商品名</h4>
      <%= f.text_field :name %>
      <h4>商品説明</h4>
      <%= f.text_area :introduction %>
      <h4>ジャンル</h4>

      <h4>税抜価格</h4>
      <%= f.number_field :price %>

      <h4>販売ステータス</h4>
      <%= f.radio_button :payment_method, "sale" %>
      <%= f.label :payment_method, "販売中" %>
      <%= f.radio_button :payment_method, "stop_selling" %>
      <%= f.label :payment_method, "販売停止中" %>

    <%= f.submit "新規登録", class:"btn btn-success" %>

    <% end %>
    
    </div>