<div class="container">
  <p>ようこそ、ながのCAKEへ！</p>
  <p>このサイトは、ケーキ販売のECサイトになります。</p>
  <p>会員でない方も商品の閲覧はできますが、</p>
  <p>購入には会員登録が必要になります。</p>
</div>

<div class="container">
  <h3>新着商品</h3>
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-md-2">
              <%= link_to items_show_path(item.id) do %>
              <%= image_tag item.get_image(100,100) %>
           　  <% end %>
              <div><%= item.name %></div>
              <div>¥<%= item.price %></div>
            </div>
          <% end %>
        </div>
  <%= link_to "全ての商品を見る", items_path %>
</div>