<div class="container">
  <h2><mark>会員一覧</mark></h2>
  </div>
   <div class="container">
    <table>
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.last_name %><%= customer.first_name %></td>
          <td><%= customer.email %></td>
          
        </tr>
        
      </tbody>
    </table>
  </div>
<%= paginate customer %>
<% end %>