<h1>注文履歴詳細</h1>


<h4>注文情報</h4>
  <div class="container">
    <table class="table table-bordered">
      <tbody>
        <tr class="table-secondary">
          <td>注文者</td>
          <td>注文日</td>
          <td>配送先</td>
          <td>支払方法</td>
          <td>ステータス</td>
        </tr>
        <tr>
          <td><%= @customer.full_name %></td>
          <td><%= @customer.created_at %></td>
          <td><%= @customer.address %></td>
          <td><%= @customer.is_deleted %></td>
        </tr>
      </tbody>
    </table>
  </div>

<h4>請求情報</h4>
  <div class="container">
    <table class="table table-bordered">
      <tbody>
        <tr class="table-secondary">
          <td>合計金額</td>
          <td>配送料</td>
          <td>ご請求額</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

<h4>注文内容</h4>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr class="table-secondary">
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.subtotal %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>