<div class ="container">
<h1>注文履歴詳細</h1>
<h4>注文情報</h4>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="table-secondary">注文日</td>
          <td><%= @customer.created_at %></td>
        </tr>
        <tr>
          <td class="table-secondary">配送先</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="table-secondary">支払方法</td>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <td class="table-secondary">ステータス</td>
          <td>
            <% if @customer.is_deleted == false %>
              <p class="text-success">有効</p>
            <% else  %>
            　<p class="text-secondary">無効</p>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

<h4>請求情報</h4>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="table-secondary">合計金額</td>
          <td><%= @total %></td>
        </tr>
        <tr>
          <td class="table-secondary">配送料</td>
          <td>800</td>
        </tr>
        <tr>
          <td class="table-secondary">ご請求額</td>
          <td></td>
        </tr>
      </tbody>
    </table>

<h4>注文内容</h4>
    <table class="table table-bordered">
      <thead>
        <tr class="table-secondary">
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.subtotal %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>