
<div class="container">
  <h1>商品一覧（全<%= Item.count %>件）</h1>

<div class="row">
  <% @items.each do |item| %>
    <div class="col-3">
      <%= link_to items_show_path(item.id) do %>
      <%= image_tag item.get_image(100,100) %>
      <% end %>
      <div><%= link_to item.name, items_show_path(item.id) %></div>
      <div>¥<%= item.price %></div>
    </div> 
  <% end %>
</div>
</div>