<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <span>LOGO</span>
        <ul>
          <% if customer_signed_in? %>
          <li>
        　   <%= link_to do %>
        　   マイページ
        　   <% end %>
        　</li>
        　
        　<li>
        　   <%= link_to '/items' do %>
        　   商品一覧
        　   <% end %>
        　</li>
        　
        　<li>
        　   <%= link_to '/cart_items' do %>
        　   カート
        　   <% end %>
        　</li>
        　
        　<li>
        　   <%= link_to '/customer/sign_out' do %>
        　   ログアウト
        　   <% end %>
        　</li>
         
        　<% else %>
        　<li>
            <%= link_to about_path do %>
            About
            <% end %>
          </li>
          
          <li>
            <%= link_to '/items' do %>
            商品一覧
            <% end %>
          </li>
          
          <li>
            <%= link_to '/customers/sign_up' do %>
            新規登録
            <% end %>
          </li>
          
        　<li>
        　   <%= link_to '/customers/sign_in' do %>
        　   ログイン
        　   <% end %>
        　</li>
        　
        　<% end %>
        　
        </ul>
          
          
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
