<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <header>
        <nav class="navbar navbar-expand-sm  mt-3 mb-3">
        <button class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarNav4"
                aria-controls="navbarNav4" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
 
      <span>LOGO</span>
      <div class="collapse navbar-collapse">
        <ul class="navbar_nav">
          <% if customer_signed_in? %>
          <li class="nav-item">
        　   <%= link_to my_page_path, class: "btn-outline-secondary" do %>
        　   マイページ
        　   <% end %>
        　</li>
        　
        　<li class="nav-item">
        　   <%= link_to items_path, class: "btn-outline-secondary" do %>
        　   商品一覧
        　   <% end %>
        　</li>
        　
        　<li class="nav-item">
        　   <%= link_to cart_items_path, class: "btn-outline-secondary" do %>
        　   カート
        　   <% end %>
        　</li>
        　
        　<li class="nav-item">
        　   <%= link_to destroy_customer_session_path, class: "btn-outline-secondary" do %>
        　   ログアウト
        　   <% end %>
        　</li>
         
        　<% else %>
        　<li class="nav-item">
            <%= link_to about_path, class: "btn-outline-secondary" do %>
            About
            <% end %>
          </li>
          
          <li class="nav-item">
            <%= link_to items_path, class: "btn-outline-secondary" do %>
            商品一覧
            <% end %>
          </li>
          
          <li class="nav-item">
            <%= link_to new_customer_registration_path, class: "btn-outline-secondary" do %>
            新規登録
            <% end %>
          </li>
          
        　<li class="nav-item">
        　   <%= link_to new_customer_session_path, class: "btn-outline-secondary" do %>
        　   ログイン
        　   <% end %>
        　</li>
        　
        　<% end %>
        　
        </ul>
      </div>   
    </nav>     
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
